{% extends 'base.html' %} {% block content %}

    <h3>Add tasks</h3>

    <div class="row">
        <form action="{{ url_for('add_task') }}" method="POST" class="col s12">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>

                        {{ form.category_name(class="validate") }}

                        <label for="category">Category</label>
                    </div>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    {{ form.task_name(class="validate") }}
                    <label for="task_name">Task Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    {{ form.task_description(class="materialize-textarea") }}
                    <label for="task_description">Task description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    {{ form.due_date(class="datepicker", type="text") }}
                    <label for="due_date">Due date</label>
                </div>
            </div>

            <div class="row">
                <div class="switch">
                    <label>
                        {{ form.is_urgent() }}
                        <span class="lever"></span>
                        Is Urgent
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add new
                    <i class="material-icons right">send</i>
                </button>

            </div>
        </form>

    </div>
    <div class="center_btn">
        <a class="waves-effect waves-light btn" href="{{ url_for('get_tasks') }}"><i
                class="material-icons right">arrow_back</i>Back to Tasks Overview</a>
    </div>

{% endblock %}