<!-- add_category.html -->
{% extends 'base.html' %} {% block content %}
    <form action="{{ url_for('add_category') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.category_name(class="validate") }}
                <label for="category_name">Category Name</label>
            </div>
        </div>
        <div class="row">
            {{ form.submit(class="btn waves-effect waves-light") }}
        </div>
    </form>
{% endblock %}

