{% extends 'base.html' %} {% block content %}

<h3>Add tasks</h3>

<div class="row">
    <form action="" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment</i>
          <input id="task_name" name="task_name" type="text" class="validate">
          <label for="icon_prefix">Task Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">subject</i>
          <input id="task_description" type="textarea" name="task_description" class="materialize-textarea">
          <label for="icon_telephone">Task description</label>
        </div>
      </div>
    </form>
  </div>
<a class="waves-effect waves-light btn" href="{{url_for('get_tasks')}}"><i class="material-icons right">arrow_back</i>Tasks Overview</a>
{% endblock %}