{% extends 'base.html' %} {% block content %}
<h3>Task overview</h3>
<div style="text-align:center">
 <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('add_task') }}"><i class="material-icons">add</i></a>
</div>
<ul class="collapsible">
  {% for tasks in tasks %}
  <li>
    <div class="collapsible-header">
      <i class="material-icons">expand_more</i>
      <strong>{{tasks.task_name}} </strong> - {{tasks.due_date}} 
        {% if tasks.is_urgent  == True %}
            <span class="material-icons">priority_high</span>         
        {% else %}
           
        {% endif %}
    </div>
    <div class="collapsible-body">
      <span> {{tasks.task_description}}</span>
    </div>
  </li>

  {% endfor %}
</ul>
{% endblock %}